body{
    text-align: center;
    font-family: Monospace;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}



h1 {
    font-size: 140px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;   
}
.countries {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic; 
}

.topheading {
    float: left;
}

.usaflag {
    float: left;
    width: 570px;
}

.usatext {
    float: center;
    font-size: 50px;
    font-style: oblique;
}

.indexparagraph {
    font-size: 20px;
    font-style: italic;
}

.america {
    font-size: 30px;
    color: darkred;
}

.brazilflag {
    float: right;
    width: 540px;
}

.braziltext {
    font-size: 70px;
    float: center;
}

.brazil {
    font-size: 30px;
    color: darkgreen;
}

.franceflag {
    float: left;
    width: 570px;
}

.francetext {
    font-size: 70px;
    float: center;
}

.france {
    font-size: 30px;
    color:blue
}

.japanflag {
    float: right;
    width: 580px;
}

.japantext {
    font-size: 70px;
    float: center;
}